@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[28px] font-[700];
  }
  p{
    @apply text-[16px] font-[400]
  }
}

* { 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

input[type="checkbox"]:checked::after {
  content: '✔';
  color: black;
  font-size: 0.8rem;
  display: block;
  text-align: center;
}

.purple-gradient {
  background: linear-gradient(180deg, #4A189F 0%, rgba(74, 24, 159, 0.62) 50%, rgba(197, 110, 253, 0.4) 100%);
}

.scrollbar-hide {
  scrollbar-width: none;
}
